.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

body{
  background: linear-gradient(-125deg, rgb(227, 59, 224) 0%, rgba(87,111,230,1) 45%, rgba(152,68,183,1) 61%, rgba(255,53,127,1) 100%);
}