.main{
    display: flex;
    justify-content: center;
    background-color: white;
}
.chat{
    width: 350px;
    height: calc(100vh - 2px);
    position: relative;
    border: 1px solid gray;
}

.phone{
    height: 100vh;
}